@import 'https://fonts.googleapis.com/css?family=Special+Elite';

.redaction {
    margin-top: 1px;
}

.redaction-content {
  -webkit-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

.redaction:hover .redaction-content {
  cursor: pointer;
}

/* both item and item content change size */
.redaction.is-expanded,
.redaction.is-expanded .redaction-content {
  min-width: 500px;
  min-height: 220px;
}

.redaction.is-expanded {
  z-index: 2;
}

.redaction.is-expanded .redaction-content {
  background: #FBFBFF;
  border: 4px solid #222222;
}

.redaction.is-expanded .redaction-content img {
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

.redaction-caption {
    padding: 4px;
    display: none;
    font-family: 'Special Elite', cursive;
    color: #222222;
}

.page-thumb {
    padding-left: 4px;
    display: none;
    color: #222222;
}

.page-thumb img {
    border-left: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.image-cell {
    width: 200px;
    margin-top: 20px;
}

.image-cell img {
    display:block;
    margin:auto;
}

.item-heading {
    margin-top: 20px;
    background-color: #B7DCF7;
    display: inline-block;
    height: 200px;
    color: #333333;
    line-height: 200px;
    font-size: 200%;
    text-align: center;
    vertical-align: middle;
}

a.item-heading:hover {
    opacity: 0.8;
    color: #333333;
    text-decoration: none;
}

.page-header { border-bottom: none;}


header {
    font-weight: lighter;
    color: #333333;
}

header a, header a:hover {
    color: #333333;
}

.dark {
    background: #222222;
    padding-bottom: 40px;
    padding-top: 10px;
}
.arrows {
    margin-bottom: 10px;
    margin-top: 10px;
}
footer {

    margin-top: 50px;
    border-top: 2px dashed #999999;
    padding-top: 10px;
    min-height: 100px;

}

.menubar {
    padding-top: 10px;
    background: #222222;
    color: #ffffff;
}
.placeholders {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
  text-align: center;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.circle-text {
    display: inline-block;
    font-size: 40px;
    line-height: 160px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background: #B7DCF7;
    color: #333333;
}

a.circle-text:hover {
    opacity: 0.8;
    color: #333333;
    text-decoration: none;
}

.stamp {
    margin-top: 1px;
  position: absolute;
  background: #FBFBFF;
  height: 250px;
  width: 400px;
  left: 240px;
  top: 180px;
  color: #222222;
  font-family: 'Special Elite', cursive;
  padding: 10px;
  border: 15px solid #222222;
}

.stamp h1 {
    font-family: 'Special Elite', cursive;
    margin-top: 0;
}

.redacted, .redacted {
    background: #222222;
    padding: 4px;
    color: #222222;
}

.redacted:hover {
    text-decoration: none;
    color: #0ce3ac;
}