{% extends "base.html" %}
{% block content %}
    
<h2>Overview</h2>

<p class="lead">So far we've harvested&hellip;</p>

<div class="row placeholders">
    <div class="col-sm-4 placeholder">
      <a href="/series/" class="circle-text">{{ series }}</a> 
      <h4>series</h4>
    </div>
    <div class="col-sm-4 placeholder">
      <div class="circle-text">{{ items }}</div>
      <h4>digitised files</h4>
    </div>
    <div class="col-sm-4 placeholder">
      <div class="circle-text">{{ images }}</div>
      <h4>page images</h4>
    </div>
</div>


{% endblock %}