{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div id="redactions">
            <div class="stamp">
                <h1>redacted:</h1>
                <p>acts of erasure, censorship, and control extracted from <a href="https://github.com/wragge/asio-files" class="redacted">ASIO files</a> held by the <a href="http://naa.gov.au" class="redacted">National Archives of Australia</a></p>
                <p>here voids become <a href="http://timsherratt.org/research-notebook/projects/immigration-recordkeeping-and-surveillance/" class="redacted">windows</a> on the practice of state surveillance</p>
                {% if tag == 'art' %}<small class="text-muted">the full <a class="redacted" href="https://wragge.github.io/diy-redactionart/">#redactionart</a> story...</small>{% endif %}
                {% if page %}
                    <div class="pull-right">
                        <small class="text-muted">{% if total > (page * number) %}{{((page - 1) * number) + 1}} to {{page * number}} of {% endif %}{{total}}{% if tag %} tagged &lsquo;{{tag}}&rsquo;{% endif %}</small>
                        {% if page > 1 %}
                            <a class="text-muted" href="/redactions/browse/{{page - 1}}/" class="next"><i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if total > (page * number) %}
                            <a class="text-muted" href="/redactions/browse/{{page + 1}}/" class="next"><i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="pull-right">
                        <small class="text-muted">sampling {{total}} redactions&hellip;</small>
                    </div>
                {% endif %}

            </div>
        {% for redaction in redactions %}
            <div class="redaction" data-series="{{redaction.series}}" data-control="{{redaction.control_symbol}}">
                <div class="redaction-content">
                    <div class="page-thumb pull-right"><a class="text-muted" title="Open page {{redaction.page}} of NAA: {{redaction.series}}, {{redaction.control_symbol}}" href="/items/{{redaction.barcode}}/pages/{{redaction.page}}/"><i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i></a> <a title="Open page {{redaction.page}} of NAA: {{redaction.series}}, {{redaction.control_symbol}}" href="/items/{{redaction.barcode}}/pages/{{redaction.page}}/"><img src="https://s3.amazonaws.com/asiofiles{{redaction.page_image_url|replace(']/', ']/thumbs/')|replace('.jpg', '-200.jpg')}}"></a></div>
                    <img src="https://s3.amazonaws.com/asiofiles/redactions/{{redaction.image}}" width="{{(redaction.width/10)|round(0, 'floor')|int * 10}}">
                    <div class="redaction-caption">
                        <p>
                            <u>NAA</u>: {{redaction.series}}, {{redaction.control_symbol}}<br>
                            <u>Title</u>: {{redaction.title}}<br>
                            <u>Page</u>: {{redaction.page}}<br>
                            {% if redaction.tags %}<u>Tags</u>:{% for tag in redaction.tags %} <a class="label label-primary" href="/redactions/tags/{{tag}}/">{{tag}}</a>{% endfor %}{% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% include "footer_redactions.html" %}
{% endblock %}

{% block extrascripts %}
    <script src="/static/js/packery.pkgd.min.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/script_redactions.js?1"></script>
{% endblock %}
