{% extends "base.html" %}
{% block content %}
    {% include "header.html" %}
    <div class="container-fluid"> 
        <h2>Redactions</h2>
        <p class="lead">I've been searching page images for redactions. So far I've found&hellip;</p>

        <div class="row placeholders">
            <div class="col-sm-4 placeholder">
              <a href="/redactions/" class="circle-text">{{ redactions }}</a> 
              <h4>redactions</h4>
            </div>
            <div class="col-sm-4 placeholder">
              <div class="circle-text">{{ pages }}</div>
              <h4>pages with redactions</h4>
            </div>
            <div class="col-sm-4 placeholder">
              <div class="circle-text">{{ items }}</div>
              <h4>files with redactions</h4>
            </div>
        </div>

        <h3>Things to explore</h3>
        <ul>
          <li><a href="/redactions/">Poke around in a random sample of redactions</a></li>
          <li><a href="/redactions/browse/">Browse the complete set of redactions</a></li>
          <li><a href="/redactions/tags/art/">Enjoy our collection of redaction art</a></li>
          <li>Files with the most redactions: <a href="/redactions/total/">total</a> &middot; <a href="/redactions/total/?sort=average">average per page</a></li>
          <li>Files with the greatest area redacted: <a href="/redactions/area/">total</a> &middot; <a href="/redactions/area/?sort=average">average per page</a></li>
          <li>Pages with the most redactions: <a href="/redactions/pages/?sort=total">total</a> &middot; <a href="/redactions/pages/?sort=percentage">percentage of page</a></li>

        </ul>

        <div class="alert alert-danger margintop">
          <h4>Be warned!</h4>
          <p>My technique for detecting redactions is far from perfect, so there will be errors!</p>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}