{% extends "base.html" %}

{% block content %}
    {% include "header.html" %}
    <div class="container-fluid"> 
        <h2>{{ item.title }}<br>
        <small>NAA: {{item.series}}, {{item.control_symbol}}</small></h2>

        {% if previous_item %}<a id="previous" class="text-muted" href="/items/{{previous_item.identifier}}/"><i class="fa fa-3x fa-chevron-circle-left" aria-hidden="true"></i></a> {% endif %} <a id="series" class="text-muted" href="/series/{{item.series|replace('/','-')}}/"><i class="fa fa-3x fa-chevron-circle-up" aria-hidden="true"></i></a> {% if next_item %} <a id="next" class="text-muted" href="/items/{{next_item.identifier}}/"><i class="fa fa-3x fa-chevron-circle-right" aria-hidden="true"></i></a>{% endif %}

        <div class="images">
        {% for image in images %}

        <a title="NAA: {{item.series}}, {{item.control_symbol}}, p. {{image.page}}" class="image-cell text-center" href="/items/{{image.identifier}}/pages/{{image.page}}"><img class="img-responsive" src="http://asiofiles.s3.amazonaws.com/{{item.series|replace('/','-')|urlencode}}/{{item.control_symbol|replace('/','-')|urlencode}}-%5B{{image.identifier}}%5D/thumbs/{{image.identifier}}-p{{image.page}}-200.jpg"></a>

        {% endfor %}
        </div>
    </div>
    {% include "footer.html" %}

{% endblock %}

{% block extrascripts %}
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/script.js"></script>
{% endblock %}